
<h1>TODO List</h1>
<input [(ngModel)]="newTask" placeholder="Add new task" />
<button (click)="addTodo()">Add</button>

<div style="color: red" *ngIf="errorMessage">{{ errorMessage }}</div>

<ul>
  @for (todo of todos; track todo.id) {
    <li>
      <input type="checkbox" [checked]="todo.completed" (change)="toggleComplete(todo)" />
      <span [style.text-decoration]="todo.completed ? 'line-through' : 'none'">{{ todo.task }}</span>
      <button (click)="deleteTodo(todo.id)">Delete</button>
    </li>
  }
  @empty {
    <li>No tasks available.</li>
  }
</ul>
